.itemContainer {
    display: flex;
    width: 100%;
    background-color: #262626;
    border: 1px solid #333333;
    border-radius: 4px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.leftPart {
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: flex-start;
}

.taskContent {
    display: flex;
    padding: 0 4px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F2F2F2;
    cursor: pointer;
    margin-top: 2px;
}

.deleteTask {
    border: none;
    background: transparent;
    cursor: pointer;
}

.checkTask {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.checkTask+.forCheck {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
}

.checkTask+.forCheck::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid #4EA8DE;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 12px;
}

.checkTask+.forCheck:hover::before {
    border-color: #1E6F9F;
}

.checkTask:checked+.forCheck {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.checkTask:checked+.forCheck::before {
    border-color: #5E60CE;
    background-color: #5E60CE;
    background-image: url("../../assets/Vector.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.checkTask:checked:hover+.forCheck::before {
    background-color: #8284FA;
    border-color: #8284FA;
}

.checkTask:checked+.forCheck {
    color: #808080;
}